.hero {
    position: relative;
    height: 100vh;
    background-image: url('https://images.hinge.co/489574db9ccfa50bf87e440f8a3be065d958a97f-2304x1536.jpg?w=1920&q=75');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  }
  
  .hero-content {
    text-align: center;
    padding: 1rem;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-top: 0;
  }
  